{% extends 'todo/Base.html' %}
{% load crispy_forms_tags %}
{% block title %} {{title}} {% endblock title %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-sm-6 mt-1">
<h5 class="text-center alert alert-primary"> Update Your Notes Here... </h5>
{% if messages %} 
    {% for message in messages %}
        {{message}} 
    {% endfor %}
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    {{fm|crispy }}
    <input  class="btn btn-secondary mt-2" type="submit" value="Submit">
    <a class="btn btn-secondary mt-2"  href="{% url 'notes:notes_list' %}" role="button">Home</a>
</form>
</div>

{% endblock content %}